p {
    margin: 10px 0 !important;
  }
  
  .login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
  }
  
  .fa-small {
    font-size: 16px !important;
  }
  
  .btn-float {
    float: left;
    margin-right: 10px;
  }
  
  .img-small {
    width: 180px;
  }

  .image
  
.image-container{
    background-image:url('/F:/Harsh_Pepcoding_dsdev_Study_code/STORYBOOKS/bookgif.gif'); 
    background-repeat:repeat;
}

